.navbar{
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    width: 100%;
    
}
.body{
    padding-top: 70px; 
}
.container{
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}
.gradient-background{
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}
